
.calenderRight {
    width: 40%;
    padding: 20px;
  }
  
  .description {
    padding-top: 20px;
  }
  
  .standard {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .standardColor {
    height: 20px;
    width: 45px;
    margin-right: 10px;
  }
  
  .standardColor1 {
    background-color: #E07628;
  }
  
  .standardColor2 {
    background-color: #E8A771;
  }
  
  .standardColor3 {
    background-color: #56A2D6;
  }
  
  .standardColor4 {
    background-color: #064476;
  }
  
  .info {
    padding-top: 5px;
    padding-left: 55px;
  }