.dayNames,
.dateNames {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.week,
.weekDay {
  /* background-color: #7a0c0c; */
  margin-right: 10px;
  margin-bottom: 5px;
  width: calc((100% - 15px) / 7.8);
  /* padding: 5px 0; */
  text-align: center;
  color: black;
  font-weight: 400;
  cursor: pointer;
}

.week {
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

/* .weekDay {
    background-color: lightblue;
  } */

.week:last-child,
.weekDay:last-child {
  margin-right: 0px;
}

.price {
  font-size: 12px;
}

/* =================
day style
================= */
.before {
  color: #e9e8e7;
}

.overnight {
  background-color: #56a2d6;
  color: #fff;
}

.overnightSelected {
  background-color: #56a2d6;
  color: #fff;
  border: 3px solid red;
}

.saterday {
  background-color: #064476;
  color: #fff;
}

.saterdaySelected {
  background-color: #064476;
  color: #fff;
  border: 3px solid red;
}

.standard {
  background-color: #e07628;
  color: #fff;
}

.standardSelected {
  background-color: #e07628;
  color: #fff;
  border: 3px solid red;
}

.selected {
  border: 2px solid red;
}


