.error {
  color: red;
}

.calender {
  max-width: 1000px;
  margin: 0 auto;
}

.calenderBody {
  min-height: 200px;
  display: flex;
}

.calenderFooter {
  padding-top: 30px;
  margin-bottom: 200px;
}

.footerColorText {
  display: flex;
}

.footerColor {
  height: 20px;
  width: 45px;
  background-color: #e07628;
  margin-right: 15px;
}

.footerTu {
  /* height: 20px;
      width: 45px; */
  background-color: #56a2d6;
  /* margin-right: 15px; */
}
