*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* =====================
calender-left
===================== */
 table {
  width: 100%;
  border-spacing: 15px;
}

 table thead th {
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

 table tbody td {
  padding: 20px 0;
  /* border-radius: 10px; */
  cursor: pointer;
}

 .before {
  color: #E9E8E7;
}

 .today {
  color: #fff;
  background-color: green;;
}

.sunAndMon {
  background-color: gray;
  color: #fff;
}

.overnight {
  background-color: #56A2D6;
  color: #fff;
}

.saterday {
  background-color: #064476;
  color: #fff;
}

.standard {
  background-color: #E07628;
  color: #fff;
}

 .selected {
  border: 2px solid red;
}

.holiday {
  background-color: blue !important;
}




