*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}

.before {
  color: #e9e8e7;
}

.sunAndMon {
  background-color: gray;
  color: #e9e8e7;
}

.overnight {
  background-color: #56a2d6;
  color: #fff;
}

.saterday {
  background-color: #064476;
  color: #fff;
}

.standard {
  background-color: #e07628;
  color: #fff;
}

.selected {
  border: 2px solid red;
}