*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.calender {
  max-width: 1000px;
  margin: 0 auto;
}

.calender-body {
  min-height: 200px;
  display: flex;
}

/* =====================
calender-left
===================== */

.calender-left {
  width: 60%;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.week {
  /* background-color: lightblue; */
}

.week table {
  width: 100%;
  border-spacing: 25px;
}

.week table thead th {
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.week table tbody td {
  padding: 20px 0;
  border-radius: 10px;
}

/* =====================
calender-right
===================== */

.calender-right {
  width: 40%;
  padding: 20px;
}

.description {
  padding-top: 20px;
}

.cal-standard {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cal-standard-color {
  height: 20px;
  width: 45px;
  margin-right: 10px;
}

.cal-standard-color-1 {
  background-color: #E07628;
}

.cal-standard-color-2 {
  background-color: #E8A771;
}

.cal-standard-color-3 {
  background-color: #56A2D6;
}

.cal-standard-color-4 {
  background-color: #064476;
}

.info {
  padding-top: 5px;
  padding-left: 55px;
}

/* =====================
calender-footer
===================== */
.calender-footer {
padding-top: 30px;
}

.footer-color-text {
  display: flex;
}

.footer-color {
  height: 20px;
  width: 45px;
  background-color: #E07628;
  margin-right: 15px;
}